.quantumuploadimage-field {
    position: relative;
    max-width: 500px;
    height: 350px;
    overflow: visible;
}

.quantumuploadimage-field .quantumupload-module {
    height: 250px;
    padding: 5px;
    background: #fbfbfb;
}

.quantumuploadimage-field .quantumupload-module .drop-area {
    height: 100%;
    padding: 0;
    background: #fbfbfb;
}

.quantumuploadimage-field .quantumupload-module .drop-area .form-upload {
   flex-wrap: wrap;
}

.quantumuploadimage-field .quantumupload-module progress {
    position: absolute;
    top: -5px;
    z-index: 3;
    left: 0;
}

.quantumuploadimage-field.quantumuploadimage-field-preview-hidden {
    height: auto;
}

.quantumuploadimage-field.quantumuploadimage-field-preview-hidden .quantumupload-module {
    display: none;
}

.quantumuploadimage-field .quantumuploadimage-preview {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    background: #fbfbfb;
    height: 250px;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
}

.quantumuploadimage-field .quantumuploadimage-preview.quantumuploadimage-preview-active {
    display: flex;
}

.quantumuploadimage-field.quantumuploadimage-field-preview-hidden .quantumuploadimage-preview {
    display: none;
}

.quantumuploadimage-field .quantumuploadimage-preview img {
    width: 100%;
    max-height: 250px;
    object-position: center;
    object-fit: contain;
}

.quantumuploadimage-actions {
    display: flex;
    width: 100%;
    margin-top: 4px;
}

.quantumuploadimage-actions input[type="text"] {
    width: 50%;
    border-radius: 3px 0 0 3px;
}

.quantumuploadimage-field .quantumuploadimage-group-buttons {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch;
}

.quantumuploadimage-field .quantumuploadimage-group-buttons > * {
    display: inline-block;
    border-radius: 0;
    flex: 2;
}

.quantumuploadimage-field .quantumuploadimage-group-buttons > .only-icon {
    flex: 1;
}

.quantumuploadimage-field .quantumuploadimage-group-buttons > *:last-child {
    border-radius: 0 3px 3px 0;
}